*
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    margin: 0;
}

#ucc_logo
{
    width: 40%;
    min-width: 200px;
    margin-bottom: 3%;
}

#canvas
{
    background-color: rgb(243, 243, 243);
    padding: 2%;
}

#resume
{
    margin: 0 13%;
    background-color: white;
}

#content
{
    
    padding: 5%;
}

.spacing_1
{
    margin-bottom: 2%;
}

.title
{
    margin-top: 1%;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
}

hr
{
    margin-top: 1%;
}

.bold_1
{
    font-weight: bold;
}

#footer
{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 70% 30%;
}

#green, #yellow
{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'century gothic';
    font-size: small;
}

#green
{
    background-color: #005E00;
}

#yellow
{
    background-color: #787800;
}


@media (max-width: 1024px) {
    #resume
    {
        margin: 0;
    }
}
